# Exclusion criteria for deployment
*.png export-ignore
*README.txt export-ignore
*readme.md export-ignore
*README.md export-ignore
*README export-ignore
*LICENSE.md export-ignore
*LICENSE.txt export-ignore
*license.txt export-ignore
*LICENSE.html export-ignore
